<div class="container">
    <div class="row">
        <div class="col">CID</div>
        <div class="col">{{ .CID }}</div>
    </div>
    <div class="row">
        <div class="col">Name</div>
        <div class="col">{{ .Name }}</div>
    </div>
    <div class="row">
        <div class="col">Rating</div>
        <div class="col">{{ .Rating }}</div>
    </div>
    <div class="row">
        <div class="col">Facility</div>
        <div class="col">{{ .Facility }}</div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>